.home-container {
  padding: 40px;
  text-align: center;
  min-height: 100vh;
  background: 
    linear-gradient(rgba(246, 244, 241, 0.7), rgba(246, 244, 241, 0.7)),
    url("Mahakhumbha.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.home-subtitle {
  font-size: 18px;
  color: var(--text-dark);
  margin-bottom: 25px;
}

.home-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home-btn:hover {
  background-color: var(--primary-hover);
}
